<div class="row">
  <div class="col-md-2">
  </div>

  <div class="col-md-8">
    <h1> Login </h1>

    <%= form_for login_path do %>
      <div class="control-group">
        <%= label_tag :username, nil, class: "control-label" %>
        <%= text_field_tag :username, nil, class: "form-control" %> </br>
      </div>

      <div class="control-group">
        <%= label_tag :password, nil, class: "control-label" %>
        <%= password_field_tag :password, nil, class: "form-control" %>
      </div>

      <%= submit_tag "Log in", class: "btn btn-default" %>
    <% end %>
  </div>

  <div class="col-md-2">
  </div>
</div>
