<div class="container">
  <% if policy(Post).create? %>
    <div> <%= link_to "new", new_post_path %> </div>
  <% end %>
  <% @posts.each do |post| %>
    <div class="blog-post">
      <h1><%= link_to post.title, post %></h1>
      <% if not post.published %>
        <div> unpublished </div>
      <%end %>
      <div><%= post.updated_at %></div>
        <% if policy(post).create? %>
          <div><%= link_to "edit", edit_post_path(post) %></div>
          <div><%= link_to "destroy", post_path(post), method: :delete, data: { Confirm: 'OK?'} %></div>
        <% end %>
    </div>
  <% end %>
</div>
