<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>/dev/mateos</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="collapse navbar-collapse" style="height: 1px;">
					<ul class="nav navbar-nav navbar-right">
						<li> <%= link_to "home", "/" %> </li>
						<li> <%= link_to "blog", "/posts" %> </li>
						<li> <%= link_to "about", "/about" %> </li>
						<li> <%= link_to "contact", "/contact" %> </li>
					</ul>
			</div>
		</div>
	</div>

  <div class="container pull-right">
    <ul class="list-inline">
      <li><a href="https://www.facebook.com/dmateos"><i class="fa fa-facebook-square fa-2x"></i></a></li>
      <li><a href="https://twitter.com/dmateos"><i class="fa fa-twitter-square fa-2x"></i></a></li>
      <li><a href="http://www.linkedin.com/profile/view?id=54393721"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
      <li><a href="https://github.com/dmateos"><i class="fa fa-github-square fa-2x"></i></a></li>
      <li><a href="https://mateos.cc/rss"><i class="fa fa-rss-square fa-2x"></i></a></li>
    </ul>
  </div>

	<div class="container">
		<% if notice or alert %>
			<div class="alert alert-info alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<%= notice %>
				<%= alert %>
			</div>
		<% end %>

		<% if can? :admin, @game %>
				<div class="alert alert-info alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					You are admin!
				</div>
		<% end %>
	</div>

  <%= yield %>

	<div class="footer navbar navbar-default navbar-fixed-bottom">
    <div class="pull-right footer">
      2014 - Daniel Mateos
    </div>
	</div>
</body>
</html>
