<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>/dev/mateos</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"></button>
        <a class="navbar-brand" href="/">/dev/mateos</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li> <%= link_to "home", "/" %> </li>
          <li> <%= link_to "blog", "/posts" %> </li>
          <li> <%= link_to "contact", "/contact" %> </li>
        </ul>
        <ul class="narbar-nav navbar-right list-inline navbar-icons">
          <li><a href="https://www.facebook.com/dmateos"><i class="fa fa-facebook-square fa-2x soc-icon"></i></a></li>
          <li><a href="https://twitter.com/dmateos"><i class="fa fa-twitter-square fa-2x soc-icon"></i></a></li>
          <li><a href="http://www.linkedin.com/profile/view?id=54393721"><i class="fa fa-linkedin-square fa-2x soc-icon"></i></a></li>
          <li><a href="https://github.com/dmateos"><i class="fa fa-github-square fa-2x soc-icon"></i></a></li>
          <li><a href="https://mateos.cc/rss"><i class="fa fa-rss-square fa-2x soc-icon"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="jumbotron">
    <div id="carousel-example-generic" class="carousel slide myslide" data-ride="carousel" data-interval="10000" data-wrap="false">
      <ol class="carousel-indicators">
      </ol>

      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="/assets/images/aspect.jpg"></img>
          <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
          <img src="/assets/images/sg.jpg"></img>
          <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
          <img src="/assets/images/console.jpg"</img>
          <div class="carousel-caption">
          </div>
        </div>
      </div>

      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="icon-prev fa fa-chevron-left fa-2x" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="icon-next fa fa-chevron-right fa-2x" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>


  <%= bootstrap_flash %>
  <%= yield %>

  <%= render "shared/footer"%>
</body>
</html>

